.nav {
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

a{
    cursor: default;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}